body{font-size:1.6rem;font-family:helvetica;letter-spacing:.5px;line-height:2rem}h2{font-size:3rem;margin:2rem 0;line-height:3.5rem}h3{font-size:2.5rem;line-height:3rem}p{margin-bottom:2rem}h1{margin-top:10rem;font-size:4rem;font-weight:700;line-height:4rem}
/*# sourceMappingURL=typography.css.map */
