//regular phones
$screen-xs-max: 415px;

// phones landscape, tablets portrait
$screen-sm-max: 577px;

// does not exist but useful
$screen-md-max: 750px;

// tablets landscape
$screen-mdl-max: 993px;

// desktop
$screen-lg-max: 1261px;

// large desktop
$screen-xl-max: 1441px;





// very Small devices
@mixin xs {
  @media (max-width: #{$screen-xs-max}) {
      @content;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
      @content;
  }
}


//  tablets portrait
@mixin md {
  @media (max-width: #{$screen-md-max}) {
      @content;
  }
}



// just lik that
@mixin mdl {
  @media (max-width: #{$screen-mdl-max}) {
      @content;
  }
}

// desktops
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
      @content;
  }
}

// Quite large desktops
@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
      @content;
  }
}
