$text-color: #1a1a1a;
$text-color-white: white;
$color-purple:#B257E5;
$color-purple2:rgb(147, 56, 201);
$color-grey: rgb(241, 241, 241);
$color-dark-grey: rgb(63, 63, 63);
$color-middle-grey: rgb(110, 110, 110)