* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  
}

html {
  font-size: 62.5%;
}


a {
  text-decoration: none;
  color: $text-color;
}


ul {
  list-style: none;
}

body {
  
}


*::after,
*::before {
  margin: 0px;
  padding: 0px;
}



body {
  max-width: 1920px;
  margin: auto;
  overflow-x: hidden;
}

