body {
  font-size : 1.8rem;
  font-family: helvetica;
  letter-spacing: .5px;
  line-height: 2.5rem; 
  color: $text-color;
  letter-spacing: .5px;

  
}

html {
  
}

h2 {
  font-size : 3rem;
  margin: 2rem 0;
  line-height: 3.5rem;
  color: $color-purple;
  font-family: elsie;
  font-weight: 600
}

h3 {
  font-size : 2.5rem;
  line-height: 3rem;
  color: $color-purple;
  font-family: helvetica;
  
}

p {
  margin-bottom: 2rem;
   
}

h1 {
  padding-top: 30rem;
  font-size: 4rem;
  font-weight: bold;
  line-height: 5rem;
  color: $text-color-white;
  font-family: baskerville;
  text-align: center;
    @include sm {
      padding-top: 25rem;
    
  }
}

.strong {
  font-weight: 800;
}


