.u-container-text-padding {
  padding: 4rem 5rem;
  @include sm {
      
    padding: 2rem 3rem;
  }
}

.u-container-text-padding-large {
  padding: 8rem 5rem;
  @include sm {
      
    padding: 2rem 3rem;
  }
}

.u-center-text {
  text-align: center;
}