*{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;box-sizing:border-box}html{font-size:62.5%}a{text-decoration:none}ul{list-style:none}:after,:before{margin:0;padding:0}body{max-width:192rem;margin:auto;overflow-x:hidden}
/*# sourceMappingURL=base.css.map */
