*{box-sizing:border-box}a{text-decoration:none}ul{list-style:none}:after,:before{margin:0;padding:0}html{font-size:62.5%}body{max-width:192rem;margin:auto;overflow-x:hidden}
/*# sourceMappingURL=reset.css.map */
