.btn{display:block;height:3rem;width:8rem;border:1px solid #000;border-radius:3px;margin:1rem auto;display:flex;justify-content:center;align-items:center;transition:all .2s}.btn:hover{background-color:#000}
/*# sourceMappingURL=components.css.map */
