

.first-screen {
  
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  &__title {
    &--1 {
      font-family: helvetica;
      font-weight: 300;
      font-size: 2rem;
      
    }

    &--2 {
      
      font-family: allura;
      font-size: 10rem;
      line-height: 9rem;
      justify-content: center;
      
      @include sm {
      
        display: flex;
        flex-wrap: wrap; 
        &-2 {
          margin-bottom: 2rem;
        }
      }

      &-1{
        @include sm {
      
          display: none;
        }
      }
    }

    &--3 {
      font-family: helvetica;
      font-weight: 300;
      font-size: 2rem;
      @include sm {
      
        display: flex;
        justify-content: center;
        flex-wrap: wrap;        
        
      }
      
    }
  }
  & > img {
    object-fit: cover;
    z-index: -1;
  }

  
  
}

.intro {
  min-height: 40vh;
  display: flex;
  
  &__text {
    
    width: 50%;
    margin: auto;
    justify-content: center;
    @include sm {
      
      width: 90%;
    }
  }
}

.rsvp {
  min-height: 100vh;
  width: 100%;
  background-color: purple;
  font-size : 1.8rem;
  line-height: 2rem;
  letter-spacing: 0;
}

.hotels {
  font-size : 1.6rem;
  line-height: 2rem;
  letter-spacing: 0;

  text-align: center;

  & >p {
    font-size: 1.8rem;
  line-height: 2.5rem; 
  }

  &__text {
    
    width: 50%;
    margin: 0 auto 2rem auto;
    justify-content: center;

    @include sm {
      
      width: 90%;
    }
  }

  &__flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  &__hotel {
    background: $color-grey;
    border-radius: 5px;
    min-height: 15rem;
    width: 25rem;
    padding:2rem;
    margin:4rem;
    text-align: center;
    @include sm {
      
      margin: 1rem;
    }

    & > h3 {
      margin-bottom: 1rem;
    }

    & > p {
      margin-bottom: .5rem;
      & > span {
        font-weight: 800;
        font-size: 1.8rem
      }
    }
    
}}

.directions {
  display: flex;
  flex-wrap:wrap;
  min-height: 67vh;
  background: $color-grey;
  @include mdl {
   
    }


  &__map {
    width: 50%;
    min-height: 50vh;
    @include mdl {
      width:100%;
      order: 1;
    }
  }
  &__text {
    width: 50%;
    
    @include mdl {
      width:100%;
      min-height: 50vh;
      }
  }

  &__content{
    &--3{
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }

  
}



.story {
  display: flex;
  flex-wrap:wrap;
  min-height: 67vh;


  &__image {
    width: 50%;
    @include mdl {
      width:100%;
      min-height: 50vh;

    }
  }
  &__text {
    width: 50%;
    @include mdl {
      width:100%;
      min-height: 50vh;
      order: 1;
    }
  }
}

.wed-list {
  display: flex;
  flex-wrap:wrap;
  min-height: 67vh;


  &__image {
    width: 50%;
    
    @include mdl {
      width:100%;
      min-height: 50vh;
      }
    
  }
  &__text {
    width: 50%;

    & > span {
      font-style: italic;
    }

    &  .btn {
      margin: 2rem 0;
    }

    @include mdl {
      width:100%;
      min-height: 50vh;
      }
  }
  
  &__iban {
    display: none;
      z-index: 999;
      height: 100%;
      width: 100%;
      color: white;
      background-color: rgba(0,0,0,.8);
      position: absolute;
      top: 100%;
      left: 50%;
    &-active{
      display: block;
       

     }
  }

  &__iban-active {
    
    // z-index:100;
    // font-size: 3rem;
    // color: white;
    // background-color: rgba(0,0,0,.8);
    // display:flex;
    // justify-content: center;
    // align-items: center;
  } 
}

.story {
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;

    
    
  }
  &__title {
    font-family: elsie;
    font-weight: 300;
  }
}



.footer {
  height: 30vh;
  text-align: center;
  background-color: $color-grey;
  color: $color-purple;
}