.nav {
  z-index:100000;
  position: fixed;
  background-color: white;
  opacity: 1;
  height: 10rem;
  width: 100%;
  transition: all .5s;

  &__logo{
      
    color: $color-purple;
  }

  & >ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    // height: 100%;
    // text-align: center;
    // padding-top: 4rem;

    

    & li {
      //display: inline;
      width: 13rem;
      margin: 0 1rem;
    }

    
    
    & li:nth-of-type(3){
      width: 20rem;
      font-size: 2.5rem;
      margin: 0 2rem; 
      color: $color-purple;
      font-family: elsie;
      font-weight: 700;
      text-align: center;
      transition: all .5s;
    }

    & li:nth-of-type(4), li:nth-of-type(5){
      text-align: right;
    }

    
  }
  

  

  @include mdl {
    //position: relative;
    padding-top: 10rem;
    max-height: 10rem;
    
    & > ul {
      display: none;
      
      min-height: 90vh;
      
      width: 100%;
      background-color: white;
      padding: 6rem 0 0 10rem ;


      & li {
        display: block;
        margin: 6rem 0;
        font-size: 2rem;
        min-width: 15rem;
        

        &:first-child {
          margin-top: 0;
        }

        &:hover {
          color: $color-middle-grey;
          //cursor: pointer;
        }

        & > a {
          color: $color-purple;
          
          
        }
        
      }

      & li:nth-of-type(3){
        display: none;
      }
  
      & li:nth-of-type(4), li:nth-of-type(5){
        text-align: left;
      }
      
    }

    .menu-toggle {
      position: absolute;
      padding: 0.8em;
      top: 3.5rem;
      right: 2rem;
      cursor: pointer;
    }
    
    .hamburger, .hamburger::before, .hamburger::after {
      content: '';
      display: block;
      background: $color-middle-grey;
      height: 3px;
      width: 2em;
      border-radius: 3px;
      -webkit-transition: all ease-in-out 350ms;
      transition: all ease-in-out 350ms;
    }
    
    .hamburger::before {
      -webkit-transform: translateY(-7px);
      transform: translateY(-7px);
    }
    
    .hamburger::after {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    
    .open .hamburger {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    
    .open .hamburger::before { display: none; }
    
    .open .hamburger::after {
      -webkit-transform: translateY(-1px) rotate(-90deg);
      transform: translateY(-1px) rotate(-90deg);
    }
    
  }
  
}

// .nav-small-screen {
//   display: none;
//   position: fixed;
//   background-color: white;
//   opacity: 1;
//   height: 10rem;
//   width: 100%;

//   & img {
//     height: 80%;
//   }

//   &__hidden {
//     display: none;
//     & li, li>a {
//       margin: 4rem 0;
//       color: $color-purple;
//     }

//   }

//   @include mdl {
//     display: flex;
//     justify-content: flex-end;
//     z-index:100;
    

//     &__hamburger {
//       height: 100%;
//       z-index: 1000;
//       margin-right: 2rem;
//     }

    

    
    
//   }
// }




.scrolled {
  opacity: .8;
  height: 6rem;

  & ul li:nth-of-type(3){
    font-size: 2rem;
    line-height: 2.2rem;
  }

  // & li:nth-of-type(3){
  //   font-size: 1.8rem;
    
  // }
  

}

nav >ul.opening {
  display: block;
}

// .visible {
//   display: flex;
//   position: fixed;
//   justify-content: center;
//   align-items: center;
//   background-color: white;
//   height: 100vh;
//   width: 100%;
// }