.btn {
  display: block;
  height: 4rem;
  width: 12rem;
  // border: solid 1px black;
  border-radius: 3px;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  background-color: $color-purple;
  color:white;

  &:hover {
    background-image: linear-gradient(90deg, $color-purple2, $color-purple);
    height: 4.5rem;
    width: 12.5rem;
    margin: .75rem auto;
    
  }
}


// map
#map {
  /* configure the size of the map */
  width: 100%;
  height: 100%;
}