.form {
  
  width: 50%;
  margin-left: 50%;
  background-color: rgba(white,.8);
  min-height: 100vh;

   & > h2 {
     margin-bottom: 4rem;
   }

   & .wpcf7-form-control-wrap {
     //somehow, this needs to be reached to put the inputs behind the mobile menu;
     z-index: 0;
   }

  & input{

    border: solid 1px $color-middle-grey;
    border-top: none;
    border-right: none;
    border-left: none;
    min-height: 2.5rem;
    width: 100%;
    font-size: 1.4rem;
    color: $color-middle-grey;
    margin-bottom: 2rem;
    
  }

  & textarea {
    border: solid 1px $color-middle-grey;
    width: 100%;
    font-size: 1.4rem;
    color: $color-middle-grey;
    border-radius: 3px;
    
    
  }

  //food drop-down
  & select {
    margin-bottom: 2rem;
    background-color: $color-middle-grey;
    color: white;
    height: 3rem;
    width: 12rem;
    font-size: 1.4rem;
  }

  & .form7__number {
    width: 3rem;
    border: solid 1px $color-middle-grey;
    padding: 2px;
    border-radius: 2px;
  }

  //button
  & .wpcf7-submit {
    
    border: none;
    display: block;
  height: 4rem;
  width: 12rem;
  // border: solid 1px black;
  border-radius: 3px;
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  background-color: $color-purple;
  color:white;
  font-size: 1.8rem;

  

  &:hover {
    background-image: linear-gradient(90deg, $color-purple2, $color-purple);
    height: 4.5rem;
    width: 12.5rem;
    margin: 3.75rem 0;
    
  }
    
  }

  

 

  
  @include mdl {
    margin-left: 0;
    width: 100%;
  }
}

.rsvp__form-guests-text {
  display: none;
}

span.wpcf7-list-item {
  display: flex;
  margin-top: 1rem;

  & input {
    margin-top: .3rem;
    margin-left: 1rem;
  }
}

