nav{position:fixed;background-color:red;height:10rem;width:100%}nav>ul{display:flex;justify-content:center;align-items:center;height:100%}nav>ul li{width:10rem}nav>ul li:nth-of-type(4){width:20rem;font-size:2.5rem;margin:0 2rem}
/*# sourceMappingURL=menu.css.map */
